<div class="layout-column align-items-center mt-50">

  <section class="layout-row align-items-center justify-content-between">
    <label>Celsius: </label>
    <input type="number" class="large" (ngModelChange)="changeToFr(celsius)" data-test-id="celsius-input" name="celsius" [(ngModel)]="celsius"/>
  </section>

  <section class="layout-row align-items-center justify-content-between">
      <label>Fahrenheit: </label>
      <input type="number" class="large" (ngModelChange)="changeToCelc(fahrenheit)" data-test-id="fahrenheit-input" name="fahrenheit" [(ngModel)]="fahrenheit"/>
  </section>
</div>